#chatbot-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    color: var(--font-primary-color);
    padding: 20px;
}

#alfred-intro {
    text-align: justify;
    padding: 0 10vw;
}

#chat-window {
    background-color: var(--font-secondary-color);
    height: 90vh;
    width: 80vw;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

#window-titlebar {
    background-color: #1E1E1E;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#control-buttons {
    height: 100%;
    width: 30%;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 3%;
}

#control-buttons * {
    margin: 7px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
}

#close-button {
    background-color: #FF5F56;
}

#expand-button {
    background-color: #FFBD2E;
}

#minimize-button {
    background-color: #28C840;
}

#action-buttons {
    flex: 5;
    display: flex;
    color: var(--font-secondary-color);
    justify-content: space-evenly;
    align-items: center;
}

#action-buttons * {
    cursor: pointer;
    padding: 3px;
    text-align: center;
    width: fit-content;
}

#action-buttons *:hover {
    color: var(--font-primary-color);
}

#chat-inactive {
    flex: 7;
    color: var(--font-highlight-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

#chat-history {
    flex: 7;
    padding: 1%;
    overflow-y: auto;
}

.avatar {
    border-radius: 50%;
    padding: 3px;
    background-color: var(--font-highlight-color);
    height: 3%;
    width: 3%;
}

.alfred-container, .user-container {
    display: flex;
    align-items: start;
    margin: 15px 2px;
}

.system-container {
    display: flex;
    align-items: center;
    margin: 15px 2px;
    justify-content: center;
}

.bot-container, .user-container {
    display: flex;
    justify-content: flex-start;
}

.user-container {
    flex-direction: row-reverse;
}

.alfred-message, .user-message {
    color: var(--font-highlight-color);
    max-width: 70%;
    margin: 0 10px;
    text-wrap: pretty;
}

.context-sources {
    font-size: 80%;
    color: var(--bg-color);
}

.system-message {
    color: var(--font-secondary-color);
    display: flex;
    justify-content: center;
    text-align: center;    
}

#message-input {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 2vh 0;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 40px;
    background-color: var(--bg-color);
}

#message-input input {
    width: 70vw;
    height: 30px;
    background-color: transparent;
    color: var(--font-highlight-color);
    border: none;
    padding: 0 10px;
    font-family: var(--font-style);
}

#message-input input:focus {
    outline: none;
}

#submit {
    /* background-color: transparent; */
    color: white;
    font-size: 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .alfred-message, .user-message {
        max-width: 100%;
    }
}