/*----------------NAV BAR--------------*/

.upper{
	background-color: rgba(97, 145, 159, 0.8);
	width: 100%;
	position: fixed;
	transition: transform 0.5s;
	border-radius: 20px;
}

.upper:hover{
	box-shadow: 10px;
	transform: scale(1.05);
}

li a{
	font-size: 25px;
	color: white;
	font-family: "Sen";
	text-decoration: none;
}
 
li{
	padding: 20px 50px;
	padding-bottom: 10px;
}

li a:hover{
	color: black;
}

.top{
	margin-left: auto;
	transition: transform 0.5s;
}

.top:hover{
	transform: scale(1.2);
}

.nav{
	list-style: none;
	display: flex;
	padding-left: 0px;
	margin-right: 10px;
}

.current{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 6px 7px 11px 0px black
}

.current a:hover{
	color: white;
}

/*-------------------COVER---------------*/

.mi{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
	font-family: "Hammersmith One";
	color: black;
	transition: all 0.25s;
}

span{
	font-size: 2rem;

}

.txt{transition: all 0.5s;}

.txt:hover{
	transform: scale(1.3); 
}

/*-------------------DETAILS--------------*/

.details{
	/*background-color: rgba(97, 145, 159, 0.7);
	*/justify-content: center;
	align-items: center;
	display: flex;
	height: 80vh;
	width: 100%;
	margin-left: 5px;
}

.pic{
	padding: 30px;
	margin: 10px;
	transition: all 0.5s;
	width: 120px;
	height: 120px;
}

.pic:hover{
	transform: scale(1.3);
	cursor: pointer;
}

/*-------------------FOOTER---------------*/

.foot{
	width:100%;
	align-items: center;
	font-size: 30px;
	text-align: center;	
	font-family: "Spicy Rice";
	margin-bottom: 20px;
}	

/*MISCELLANEOUS*/

body{
	background: url(cover.jpg) no-repeat; 
	background-size: cover;
	margin: 0px;
}

*{
	margin-top: 0px;
}