body {
	min-width: fit-content;
}

.myprojects{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Hammersmith One";
	color: black;
	transition: all 0.25s;
    flex-direction: column;
}

.txt{
    transition: all 0.5s;
    font-size: 4rem;
	text-align: center;
}

.txt:hover{
	transform: scale(1.3); 
}

.motto{
    text-align: center;
    font-size: 2rem;
}

#quotes{
    font-size: 6rem;
    font-family: 'Secular One', sans-serif;
}
