.fill_animation:hover {
    --p: 100%;
    --t: .5s;
}

.button {
    padding: 4px 10px 4px 10px;
    border: 1px solid #00abf0;
    border-radius: 5px;
    background: linear-gradient(#00abf0 0 0) no-repeat
    calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}

.button a:hover {
    color: black;
    transition:2s;
}