#contact {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}

#contact * {
    font-family: 'Major Mono Display';
    font-weight: bolder;
}

#contact a {
    margin: .25% 1.5%;
    padding: 0.5%;
}

#contact img:hover {
    transform: translateY(-15%);
    color: white;
    transition: .5s;
}

#contact span:hover {
    color: #00abf0;
    transition: ease-out 1s;
}

#resume-button a {
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
}

#resume-btn-logo {
    height: 3vh;
}
