#contact {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    color: white;
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

#contact a {
    margin: .25% 1.5%;
    /* align-self: center; */
}

#contact img:hover {
    transform: scale(1.3);
    color: white;
    transition: .5s;
}

#contact span:hover {
    color: #00abf0;
    transition: ease-out 1s;
}

#line {
    /* align-self: center; */
    width: 20%;
    height: 0;
    border: 1px solid #00abf0;
}