#contact {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}

#contact a {
    margin: .25% 1.5%;
    padding: 0.5%;
}

#contact img:hover {
    transform: scale(1.3);
    color: white;
    transition: .5s;
}

#contact span:hover {
    color: #00abf0;
    transition: ease-out 1s;
}