@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Major Mono Display' */
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#scroll-progress {
    position: fixed;
    top: 0;
    width: 0;
    height: 3px;
    background: #00abf0;
    z-index: 10000;
}

a {
    text-decoration: none;
    color: white;
    cursor: url('../assets/icons/pointer.png'), auto;
}

body {
    background: radial-gradient(ellipse at bottom, #081b29 0%, #081b29 100%);
    color: white;
    font-size: large;
    transition: 1s;
    cursor: url('../assets/icons/cursor.png'), auto;
}

/* Common CSS classes */

.horizontal_line {
    width: 20%;
    height: 0;
    border: 0.5px solid #00abf0;
}

.highlight_text{
    color: #00abf0;
}