#navbar{
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5%;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border-radius: 0 0 20px 20px;
}

#website_logo {
    padding-left: 1%;
    font-size: 3vw;
    font-weight: 1000;
    font-family: 'Pacifico';
}

#website_logo #highlight {
    font-family: 'Pacifico';
}

#highlight{
    color: #00abf0;
}

#navlist li{
    list-style: none;
    display: inline-flex;
    margin-right: 20px;
    font-size: 80%;
}

#navlist a:hover {
    color: #00abf0;
    transition: .3s;
}

#resume {
    padding: 4px 10px 4px 10px;
    border: 1px solid #00abf0;
    border-radius: 5px;
    background: linear-gradient(#00abf0 0 0) no-repeat
    calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}
#resume:hover {
  --p: 100%;
  --t: .5s;
}

#resume a:hover {
    color: black;
    transition:2s;
}