.section {
    height: 50vw;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: center;
    margin: 5%;
}

.towards_left *{
    /* margin-left: 1%; */
    justify-content: start;
    text-align: left;
}

.towards_right *{
    /* margin-right: 1%; */
    justify-content: end;
    text-align: right;
}

.section_head {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
}

.section_head div {
    padding: 0 1%;
}

/* 
.section_heading {

} */