/* for horizontal scrolling
#website_content {
    width: auto;
    display: flex;
    overflow-x: scroll;
} */

.section {
    height: 50vw;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 2%;
}

.towards_left *{
    justify-content: start;
    text-align: left;
}

.towards_right *{
    justify-content: end;
    text-align: right;
}

.towards_left .section_heading{
    margin-right: 1%;
}

.towards_right .section_heading{
    margin-left: 1%;
}

.section_head {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    margin-bottom: 1%;
}

.section_head * {
    font-family: 'Major Mono Display';
}