/* === Enable Scrollbar === */

/* body::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: rgba(97, 145, 159, 0);
}

body::-webkit-scrollbar
{
  width: 5px;
  overflow: hidden;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #00abf0;
} */

/* === Disable Scrollbar === */

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}