/*Project 1 Style*/

#p1:hover{
    color: white;
    background-color: rgba(97, 145, 159, 0.8);
}

/*Project 2 Style*/

#p2:hover{
    color: #0C63E4;
    background-color: #E7F1FF;
}

/*Project 3 Style*/

#p3:hover{
    color: white;
    background-color: grey;
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
}