/*Project 1 Style*/

#personal_website:hover{
    background: rgba(0,0,0,0.2);
    backdrop-filter: saturate(180%) blur(10px);
    border-right-color: black;
    border-left-color: rgba(97, 145, 159, 0.8);
}

/*Project 2 Style*/

#certificates_website:hover{
    background: rgba(0,0,0,0.2);
    backdrop-filter: saturate(180%) blur(10px);
    border-right-color: rgb(92, 200, 247);
    border-left-color: rgb(7, 90, 156);
}

/*Project 3 Style*/

#tinkercad_projects_website:hover{
    background: rgba(0,0,0,0.2);
    backdrop-filter: saturate(180%) blur(10px);
    border-right-color: #E7F1FF;
    border-left-color: #0C63E4;
}