html {
	scroll-behavior: smooth;
}

#go_up:hover{
	transform:scale(1.5);
}

#go_up{
	bottom: 5%;
	right: 49%;
	border-radius: 100%;
	padding: 10px;
	background-color: rgba(97, 145, 159, 0.8);
	position: fixed;
	transition: all 0.5s;
}