html {
	scroll-behavior: smooth;
}

#left_nav, #right_nav, #go_up {
	position: fixed;
	transition: all 0.5s;
}

#left_nav:hover, #right_nav:hover, #go_up:hover{
	transform:scale(1.5);
}

#go_up{
	bottom: 5%;
	right: 49%;
	border-radius: 100%;
	padding: 10px;
}

#left_nav, #right_nav {
	top:50%;
}

#left_nav{
	left:2%;
}

#right_nav{
	right:2%;
}