#footer {
    color: var(--font-highlight-color);
    background-color: var(--secondary-color);
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
}

#footer-icons {
    display: flex;
    justify-content: space-evenly;
}

#footer img {
    height: 20px;
    width: auto;
}