#about-section {
    min-height: 90vh;
    height: fit-content;
    width: 89.5vw;
    color: var(--font-primary-color);
    padding: 5vw;
    padding-bottom: 0;
}

#about-section-content {
    justify-content: space-evenly;
}

#my-description {
    padding: 0.5vw;
}

.about_me {
    text-align: justify;
    padding: 0.5rem;
    margin: 0.5rem;
}

#myself-subsection {
    display: flex;
    margin: 0.5rem;
    justify-content: space-evenly;
}

#my-potrait {
    margin: 1rem;
    width: 30vw;
    object-fit: cover;
    border-bottom: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-radius: 5rem;
}

@media (max-width: 800px) {
    #myself-subsection {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #my-potrait {
        width: 80vw;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

#my-quote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Passion One';
}

#quotation-mark {
    font-size: 7rem;
    color: var(--font-highlight-color);
}

#quote {
    font-size: 2rem;
}

.single_skill {
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    transition: all 0.1s;
    transform: none;
}

.single_skill img {
    width: 50px;
    height: 50px;
    display: block;
}

.single_skill:hover {
    transform: translateY(-10%);
}

#did-you-know-subsection {
    padding: 1rem;
    /* border-radius: 30px;
    border: 1px solid var(--font-secondary-color); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
}

#dyk-heading-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dyk-heading {
    color: var(--font-secondary-color);
    flex: 1;
    display: flex;
    align-items: center;
}

#did-you-know {
    flex: 4;
    font-size: larger;
    padding: 10px 0;
    text-align: justify;
}

#refresh-dyk {
    flex: 1;
    transition: all 0.1s;
    width: fit-content;
    display: flex;
    justify-content: center;
    color: var(--font-secondary-color);
}

#refresh-dyk:hover {
    cursor: pointer;
    font-weight: bolder;
    color: var(--font-primary-color);
}