@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');

#heading {
    margin: 3rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 2rem;
    color: var(--font-secondary-color);
    font-family: "Archivo", sans-serif;
}